.container {
  width: 100%;
  height: 100%;

  .itemList {
    overflow: auto;
    height: calc(100% - 80px);
    display: grid;
    align-content: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 10px;
    margin: 0;
    gap: 8px;


    > li {
      aspect-ratio: 1 / 1;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--sub-bg);
      border-radius: 16px;

      > p {
        font-size: 20px;
        max-width: 150px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;

        > i {
          font-style: normal;
          font-family: "DynaPuff", cursive;
        }

        &:nth-child(2) {
          font-size: 28px;
          font-weight: 900;
        }
      }
      
      > button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        border: none;
        border-radius: 100px;
        color: var(--main-bg);
        padding: 10px 20px;
        background-color: var(--main-accent);
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

@media (max-width: 600px) {
  .itemList {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .itemList {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}
