:root {
  --main-bg: #f3ebeb;
  --main-text: #333333;
  --main-accent: #ec8b8b;
  --main-semiaccent: #eca3a3;
  --main-secondary: #ebd2d2;
  --main-positive: #67c925;
  --main-negative: #b61d1d;
  --sub-bg: #f1e3e3;
}

