.container {
  width: 100%;
  height: 100%;
}

.final {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .score {
    text-align: center;
    border-radius: 200px;
    border: 6px solid var(--main-accent);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .count {
      font-size: 75px;
      font-family: "DynaPuff", cursive;
    }
  }
}

.bottomNav {
  position: absolute;
  background-color: var(--sub-bg);
  bottom: -80px;
  width: 100%;
  display: flex;
  height: 70px;
  justify-content: end;
  align-items: center;

  .btnBar {
    right: 10px;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;

    button {
      border: 0;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      padding: 0px 25px;
      transition: all ease-in 0.2s;
      border-radius: 20px;
      gap: 5px;
      cursor: pointer;
      color: var(--main-accent);
    }

    button:last-child {
      background-color: var(--main-accent);
      padding: 10px 20px;
      color: var(--main-bg);
    }
  }
}

.closeModal {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .modalBg {
    position: absolute;
    top: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #0000004b;
  }

  .modalContainer {
    max-width: 300px;
    position: relative;
    z-index: 10;
    background-color: var(--sub-bg);
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    > h3 {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
    }

    > input {
      border: none;
      border-radius: 16px;
      background-color: var(--main-bg);
      padding: 10px 20px;

      &:focus {
        outline: 2px solid var(--main-accent);
      }
    }

    .btnBar {
      display: flex;
      align-self: stretch;
      justify-content: flex-end;

      button {
        border: 0;
        background-color: transparent;
        font-weight: 500;
        padding: 0px 25px;
        border-radius: 20px;
        cursor: pointer;
        color: var(--main-accent);
      }
      
      button:last-child {
        background-color: var(--main-accent);
        padding: 10px 30px;
        color: var(--main-bg);
      }
    }
  }
}

