.main {
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
  top: 0;
  left: 0;
}

.bottomTab {
  display: flex;
  justify-content: stretch;
  width: 100%;
  position: relative;
  background-color: var(--main-bg);
  
  > button {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-text);
    background-color: var(--sub-bg);
    cursor: pointer;
    border: none;
    gap: 3px;
    font-size: 18px;

    > label {
      font-size: 10px;
    }

    > svg {
      padding: 2px 10px;
      border-radius: 10px;
      transition: all ease-in 0.2s;
    }

    &.enabled > svg {
      background-color: var(--main-secondary);
    }

    &:first-child {
      border-top-left-radius: 16px;
    }

    &:last-child {
      border-top-right-radius: 16px;
    }
  }
}
