@import 'normalize.css';
@import '@fontsource/roboto';

:root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: #1f1f1f;
  background-color: #efefef;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}
